*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "League Spartan", sans-serif;
  width: 90rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.parentcontainer

      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
      