*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "League Spartan", sans-serif;
    width: 90rem;
    height: 50em; ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;border: 2px solid red;
    background-image: url(./images/bg-pattern-top-desktop.svg); top: left;
    
  }

  .parent-container{
    position: relative;
    width: 69.375rem;   
  }
  .users-stars{
    display: flex;
  }
 .top-pattern{
    position: absolute;
    top: 0;
    left: 0;
 }
 .botton-pattern{
    position: absolute;
    bottom: 0;
    right: 0;
 }
 h1{
    font-size: 3rem;
    font-weight: 700;
    color:hsl(300, 43%, 22%);
 }
 .Flex1{
    display: flex;
 }
 .Users, .Stars{
    width: 50%;
 }

 .Users p {
  margin-top: 1rem;
  line-height: 1.5rem;
 }

 .Stars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }

 .Rating{
    display: flex;
    width: 27.8125rem;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: hsl(300, 24%, 96%);
    border-radius: 0.5rem;
 }

 .Rating:nth-child(2){
  align-self: center;
 }

 .Rating:nth-child(3) {
  align-self: end;
 }

 .Cards {
  display: flex;
  margin-top: 5rem;
  gap: 1.5rem;
  height: 16.625rem;
 }

 .card {
  background-color: hsl(300, 43%, 22%);
  color: hsl(0, 0%, 100%);
  padding: 1.5rem;
  border-radius: 0.5rem;
  height: 14.625rem;
 }

 .card:nth-child(2) {
  align-self: center;
 }

 .card:nth-child(3) {
  align-self: end;
 }

 .Testimonial-name {
  display: flex;
  gap: 1.5rem;
  align-items: center;
 }

 .images {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  overflow: hidden;
 }

 .images img {
  width: 100%;
  height: 100%;
  object-fit: contain;
 }

 .Testimony {
  margin-top: 2rem;
 }

 .Names p:nth-child(2) {
  color:  hsl(333, 80%, 67%);
 }

 .attribution {
   font-size: 11px;
   text-align: center;
 }
 .attribution a {
   color: hsl(228, 45%, 44%);
 }
        .attribution {
          font-size: 11px;
          text-align: center;
        }
        .attribution a {
          color: hsl(228, 45%, 44%);
        }
        
